.UserDetailsDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: slategrey;
    border-radius: 10px;
    width: 400px;
    padding-left: 50px;
}
.UserDetailsDiv p{
    height: 10px;
}
.UserImage{
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: 260px;
    margin-bottom: 370px;
}